.bor{
    border: 1px solid #fff;
}
.login__formSection{
    padding: 2.5rem;
    background-color: #fff;
    display: grid;
    grid-template-rows: 60px 1fr;
}
.earthlogo{
    width: 8rem;
    height: 8rem;
}
.top_text{
    color: black;
    margin-bottom: 1rem;
}
.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }